<div class="container mt-5">
    <div class="mb-5 d-flex gap-2">
        <button type="button" class="btn btn-secondary btn-sm" routerLink="/signal">Signals</button>
        <button type="button" class="btn btn-secondary btn-sm" routerLink="/control-flow">control flow</button>
        <button type="button" class="btn btn-secondary btn-sm" routerLink="/ip-op">Input-Output</button>
        <button type="button" class="btn btn-secondary btn-sm" routerLink="/api-integration">API integration</button>
    </div>
    <router-outlet></router-outlet>
</div>